@import "tailwindcss";

body {
    /* @apply bg-gray-100; */
    background: #000;
    font-family: "Delius", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo::first-letter {
    color: red
}

nav li {
    color: white;
    margin-right: 10px;
    padding-bottom: 5px;
}

nav li:hover {
    color: red;
    border-bottom: 1px solid red;
    cursor: pointer;
}

/* hero section */
.hero {
    position: relative;
}

.hero .img {
    /* position: relative; */
    opacity: 0.5;
    width: 100%;
    background-size: contain;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 35px;
    color: red;
    font-weight: 800;
}

.btn {
    width: 200px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border: 1px solid red;
}


.btn:hover {
    background: none;
    border: 1px solid red;
    color: red;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

/* Gallery */
.card {
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.card img {
    transition: all 1s ease-in-out;
    transform: translateY(0%);
}

.card .content {
    transition: 0.9s ease-in;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    opacity: 0;
}

.card .content h3 {
    font-size: 30px;
    font-weight: 800;
    color: red;
    margin-bottom: 10px;
}

.card:hover img {
    transform: translateY(-100%);
    opacity: 0;
}

.card:hover .content {
    transform: translateY(0%);
    opacity: 1;
}

.card .content .btn {
    width: 150px;
    font-size: 20px;
    padding: 10px;
    font-size: small;
    margin-top: 10px;
}

/* footer */
footer {
    padding: 50px;
    color: white;
    /* display: flex;
    justify-content: space-between; */
    flex-wrap: wrap;
}

footer div {
    flex-basis: 50%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* justify-content: center; */
    align-items: center;
}

footer div li:hover {
    color: red;
    /* border-bottom: 1px solid red; */
    cursor: pointer;
}

.icons i {
    font-size: 20px;
}

.icons i:hover {
    transform: scale(1.4);
    cursor: pointer;
    color: red;
}

@media screen and (max-width:768px) {
  .card .content .btn {
    width: 100px;
    font-size: 15px;
    padding: 5px;
    font-size: small;
  }

  .card .content h3 {
    font-size: 15px;
    font-weight: 800;
    color: red;
    margin-bottom: 10px;
  }

  .card .content p {
    font-size: 10px;
  }

  footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  footer h2{
    font-size: 20px;
  }
  footer span, ul li{
    font-size: 12px;
  }
}